@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  font-family: "Open Sans", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .border-gradient {
    border-color: linear-gradient(to right, #e6e6e6, #808080);
  }
}
